# Xcode
Lockpaw.xcodeproj/
xcuserdata/
DerivedData/
*.xcworkspace
build/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Raycast
lockpaw-raycast/node_modules/
lockpaw-raycast/dist/
